.NavBar {
  background-color: green;
  text-align: center;
}

.Sidebar {
  height: auto;
  background-color: purple;
}

.ThumbnailLeft {
  background-color: Red;
}

.ThumbnailRight {
  background-color: Blue;
}
